body {
    background-color: black;
    color: wheat;
}

.text {
    display: flex;
    color: wheat;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.hand {
    width: 200px;
    height: auto;
}

#hands {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}

.handdiv {
    border-radius: 2px;
    border: wheat;
    border-style: solid;
}

.handdiv:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {
    #hands {
        display: flex;
        margin-top: 20px;
        gap: 10px;
    }
    .hand {
        max-width: 25vw;
    }
 
}

#scores {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table, th, td {

    border: 1px solid wheat;
    width: 60vw;
    text-align: center;
  }